
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    text-align: center; 
    background-color: whitesmoke        ;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    border-bottom: 1px solid white;
}

nav {
    display: flex;
    gap: 20px;
    background-color: #f2b400;
    width: 200%;
    justify-content: end;
    align-items: center;
    padding: 15px;
}

nav a { text-decoration: none; color: black; font-weight: bold; text-transform: capitalize; }

.Inscribete {
    background-color: black;
    color: white ;
    padding: 8px 15px;
    border-radius: 20px;
}


#padre {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    max-width: 900px;      
    margin: 40px auto;     
    padding: 0 20px;
}

.tarjeta {
    border: 1px solid gainsboro;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}

.tarjeta img {
    width: 100%;
    height: 120px;
    background-color: white; 
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10%;
}

.tarjeta p {
    font-size: 12px;
    margin: 2px 0;
}

.selec_s {
    display: block;
    width: 75%;
    background-color: grey;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin-top: 10px;
    font-size: 11px;
    border-radius: 4px;
}
.selec_s:hover{
    background-color: #f2b400;
    transform: scale(1.1);
}


.Ver-mas a {
    display: inline-block;
    background-color: gray;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px 0;
}
.Ver-mas a:hover{
    background-color: #f2b400;
    transform: scale(1.1);
}



.contenedor-servicios {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 30px 0;
}

.servicio-item {
    width: 100px;
    font-size: 12px;
}

.icono-placeholder {
    width: 60px;
    height: 60px;
    border: 1px solid gainsboro;
    margin: 0 auto 10px;
}



footer {
    background-color: #a6a6a6;
    padding: 40px 0;
    border-top: 1px solid gainsboro;
}


@media (max-width: 800px) {
    #padre { grid-template-columns: repeat(2, 1fr); }
    .contenedor-servicios { flex-wrap: wrap; }
}